In [1]:
import pandas as pd

data = {"name":["A","B","C"],
       "age":[20,21,22],
       "marks":[50,60,65]}

df = pd.DataFrame(data)
df.head()

  name  age  marks
0    A   20     50
1    B   21     60
2    C   22     65

In [2]:
df.to_csv("sample")

In [4]:
df1 = pd.read_csv("sample")

In [5]:
df1.head()

   Unnamed: 0 name  age  marks
0           0    A   20     50
1           1    B   21     60
2           2    C   22     65

In [6]:
df1.tail()

   Unnamed: 0 name  age  marks
0           0    A   20     50
1           1    B   21     60
2           2    C   22     65

In [9]:
df.info

<bound method DataFrame.info of   name  age  marks
0    A   20     50
1    B   21     60
2    C   22     65>

In [10]:
df.describe()

        age      marks
count   3.0   3.000000
mean   21.0  58.333333
std     1.0   7.637626
min    20.0  50.000000
25%    20.5  55.000000
50%    21.0  60.000000
75%    21.5  62.500000
max    22.0  65.000000

In [11]:
df['name']

0    A
1    B
2    C
Name: name, dtype: object

In [12]:
df.isnull

<bound method DataFrame.isnull of   name  age  marks
0    A   20     50
1    B   21     60
2    C   22     65>

In [13]:
df = pd.read_csv("sample")